body {
    font-size: 14px;
    min-width: 320px;
    max-width: 2000px;
    position: relative;
    line-height: 135%;
    font-family: sans-serif;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: #6d6666;
}
.hidden {
    display: none;
}

section{
    width: 100%;
    min-height: 530px;
    background: #644929;
    float: left;
    z-index: 10;
    padding-bottom: 50px;
    background-image: url(../img/2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    overflow-y: hidden;
}
section h1{
    width: 100%;
    text-align: right;
    margin-top: -10px;
    margin-right: 17%;
    font-family:'Lobster', sans-serif;
    font-size: 25px;
    word-spacing: 1px;
    margin-bottom: 35px;
    float: right;
    background-image: url(../img/link.png);
    background-position: 100% 5%;
    background-size: 33% 60%;
    background-repeat: no-repeat;
    padding-top: 40px;
}
.style_ava{
    width: 100%;
    border-radius: 500px/100px;
   float: left;
}
.testik{
    position: relative;
    float: left;
    background-image: url(../img/book02.png);
    background-size: 15% 40%; 
    background-repeat: no-repeat;
    background-position: 100% -14%;
    margin-top: 8%;
    padding: 2% 0 2% 1%; 
}
.testik p{
   font-family: 'Tangerine', cursive;
    font-size: 30px;
    font-weight: 800;
    line-height: 115%;
    color: black;
}
.emeil_templates{
    background-image: url(../img/swit2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    min-height: 760px;
    
}
.em_temp{
    width: 100%;
    height: 600px;
    border: 3px double #d1adad;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(240, 189, 189), 0px 0px 30px #e3a9a9 inset;
}
.block_for_templ{
    width: 100%;
    min-height: 300px;
    border: 2px inset #5f5555;
    background-color: antiquewhite;
    float: left;
    box-shadow: 0 0 20px rgb(177, 142, 64);
    border-radius: 10px;
    display: none;
    margin-bottom: 20px;
    overflow: hidden;
}
.photo_st{
    background-image: url(../img/img-03.jpg);
    background-size: 99.5% 100%;
    background-repeat: no-repeat;
}
.my_work{
    float: right;
    width: 88%;
    margin-right: 10%;
   margin-top: 70px;
}

.dop_size{
    width: 100%;
}
.dop_size_2{
    float: right;
    width: 250px;
}
.dop_mar{
    padding: 0;
    margin-left: 25px;
}
.emeil_templates h1{
    width: 100%;
    text-align: left;
    margin-left: 11%;
    font-family: 'Tangerine', cursive;
    padding-top: 70px;
    background-image: none;
    font-size: 60px;
    position: absolute;
}
ul{
    width: 100%;
    text-align: left;
   float: left;
    margin-top: 200px;
}
ul li{
    font-family:'Lobster', sans-serif;
    font-size: 25px; 
    list-style-type: none;
    margin-left: 30px;
    background-image: url(../img/link.png);
    background-position: 1% 55%;
    background-size: 50% 60%;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    cursor: pointer;
}


.portfolio_item {
    display: none;
    padding: 0;}
.read_all{
    border: 0;
    float: left;
    background-color: rgba(255, 69, 0, 0);
    background-image: url(../img/str.png);
    background-position: 80% 0;
    background-size: 100% 100%;
    width: 60%;
    margin-left: 20%;
    height: 61px;
    color: blue;
    clear: left;
    }
.mar_bot{
    margin-bottom: 120px;
}
.reding{
    min-width:320px; 
    width: 96%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    top: 0;
    margin: 1% 2% 2% 2%;
    position: fixed;
    overflow-y: scroll;
    float: left;
    
}
.port_item_cont {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 300px;
    background-color: rgba(0,0,0,.8);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
    -webkit-transition: all 0.5s;
     transition: all 0.5s;
}
.port_item_cont:hover{
    opacity: 1;
    padding-top: 20%;
}
.port_item_cont h2{
    color: white;
    margin-bottom: 0;
    padding: 0 0 20px 0;
}
.port_item_cont a{
    border: 2px #801236 solid;
    padding: 5px;
    font-size: 15px;
    letter-spacing:1px;
    color: #801236;
}
.mfp-content{
    position: static;
}
.st_ph{
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
}
.reding h1,h2{
    text-align: center;
}
.download_file{
    float: left;
    padding: 16px;
    color: blue;
    clear: left;
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 40px;
    width: 100%;
}
/*Media*/
@media only screen and (min-width : 1200px) {
    .foto_style_html{width: auto;height: auto;}
    .foto_style_html_2{width: auto;height: auto;}
    .foto_style_html_3{width: auto;height: auto;}
    .foto_style_html_4{width: auto;height: auto;}
}
@media only screen and (max-width : 975px) {
    .dop_mar{margin-left:  10px;}
    .my_work{float: right;width: 90%;margin-right: 5%;margin-top: 70px;}
}

@media only screen and (max-width : 767px) {
     .testik  {background-image: none;}
    ul li{background-size: 73% 30%; background-position: 10% 65%; }
   .style_ava{width: 70%;margin-left: 15%; border-radius: 500px/100px;float: left;margin-top: 70px;max-height: 650px;} 
    .testik p{margin-bottom: 100px;margin-left: 30px;}
}
@media only screen and (max-width : 610px) {
     ul li  {margin: 0;font-size: 18px;}
    ul{margin-top: 150px;}
}
@media only screen and (min-width : 506px) {
    .read_all{
        display: none;
    }
}
@media only screen and (max-width : 505px) {
     .emeil_templates h1  {font-size: 35px;}
    .dispNon{display: none;}
    .style_ava{margin-left: 0;width: 100%;}
}
@media only screen and (max-width : 450px) {
    .block_for_templ{min-height: 150px;}
    .port_item_cont{min-height: 150px;}
    .port_item_cont h2{
    color: white;
    margin-bottom: 0;
    padding: 0 0 12px 0;
        font-size: 13px;
}
.port_item_cont a{
    border: 2px #801236 solid;
    padding: 5px;
    font-size: 12px;
    letter-spacing:1px;
    color: #801236;
}
   .my_work{float: right;width: 90%;margin-right: 9%;margin-top: 70px;
}  
    section h1{font-size: 19px;text-align: center;margin-right: 0;background-size: 53% 60%;background-position: 60% 15%;}
}

